.informationBODY, .mainBODY {
    background-image: url(/img/piter-bridges.jpg);
    
}

.place {
    margin: 0 auto;
    margin-top: 80px;
}

#home {
    position: absolute;
    left: 25px;
    top: 25px;
    background-color: white;
    border: 1px solid rgba(34, 60, 80, 0.2);
    opacity: 80%;
    -webkit-box-shadow: -4px -4px 27px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -4px -4px 27px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -4px -4px 27px 0px rgba(34, 60, 80, 0.2);
}

#home img {
    width: 35px;
    height: 35px;
    opacity: 80%;
    padding: 8px;
}

