@media (max-width: 1300px) {
    .desktop {display: none;}
    .mobile {display: block;}
    .generals, .description {
        height: auto;
        width: 100%;
        border-radius: 7px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    #list-mobile {
        width: 100%;
        display: block;
        color: #444;
        margin: 0;
        border: none;
        background-color: #798bb601;
        font-size: 20px;
    }
    .description::-webkit-scrollbar {
        width: 20px;
        border-radius: 0 7px 7px 0;
    }
    .description::-webkit-scrollbar-thumb {
        border-radius: 0 7px 7px 0;
    }

    .portrait img {
        width: 80%;
    }

    .name {
        font-size: 24px;
    }

    .caption {
        font-size: 18px;
    }

    .description .subtitle {
        font-size: 22px;
    }

    .description p {
        font-size: 20px;
    }
}

@media (min-width: 1301px) {
    .desktop {display: block;}
    .mobile {display: none;}
}